################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/p. Lab 0 prog/v17/Browse.VC.opendb
